.desktop-1,
.div {
  position: absolute;
  background-color: #fff;
}
.desktop-1 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 2042px;
  overflow: hidden;
}
.div {
  top: 597px;
  left: 3px;
  width: 1436px;
  height: 618px;
}
.divimagenodestyles-imagebase-icon,
.divimagenodestyles-imagebase-icon1 {
  position: absolute;
  height: calc(100% - 1424px);
  width: calc(100% - 709.76px);
  top: 594px;
  right: 0.76px;
  bottom: 830px;
  left: 709px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divimagenodestyles-imagebase-icon1 {
  height: calc(100% - 1842px);
  width: calc(100% - 1238.76px);
  top: 315px;
  right: 624.76px;
  bottom: 1527px;
  left: 614px;
}
.steven-paul-steve {
  position: absolute;
  top: -13px;
  left: calc(50% - 307.34px);
  line-height: 58.97px;
}
.ceo-of-apple,
.entrepreneur-and-inventor {
  position: absolute;
  top: 22.57px;
  left: calc(50% - 302.78px);
  line-height: 58.97px;
}
.ceo-of-apple {
  top: 58.17px;
  left: calc(50% - 302.04px);
}
.studios-and-founder,
.widely-recognized-as {
  position: absolute;
  top: 93.77px;
  left: calc(50% - 284.22px);
  line-height: 58.97px;
}
.widely-recognized-as {
  top: 129.37px;
  left: calc(50% - 309.39px);
}
.entrepreneur-whose-passion,
.the-1970s-along {
  position: absolute;
  top: 164.97px;
  left: calc(50% - 307.47px);
  line-height: 58.97px;
}
.entrepreneur-whose-passion {
  top: 200.54px;
  left: calc(50% - 290.68px);
}
.movies-music-phones,
.revolutionized-six-industries {
  position: absolute;
  top: 236.14px;
  left: calc(50% - 282.11px);
  line-height: 58.97px;
}
.movies-music-phones {
  top: 271.74px;
  left: calc(50% - 301.88px);
}
.p {
  position: absolute;
  top: 1418.19px;
  left: 391.55px;
  width: 623.81px;
  height: 393.41px;
  overflow: hidden;
  text-align: center;
}
.biography {
  position: relative;
  line-height: 136.57px;
}
.p1 {
  position: absolute;
  top: 1250px;
  left: 399px;
  width: 270px;
  height: 117px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 52.46px;
}
.steve-jobs {
  position: relative;
  line-height: 105.53px;
}
.p2 {
  top: 94.48px;
  left: 603.24px;
  width: 177.98px;
  height: 63.69px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 35.59px;
}
.div1,
.p2,
.p3 {
  position: absolute;
}
.div1 {
  top: 0;
  left: 0;
  line-height: 80.7px;
}
.p3 {
  top: 174px;
  left: 633px;
  width: 150px;
  height: 81px;
  overflow: hidden;
  font-size: 28.1px;
}
.design-is-how,
.design-is-not,
.looks-like-and {
  position: absolute;
  top: -16.11px;
  left: calc(50% - 185.67px);
  line-height: 80.7px;
}
.design-is-how,
.looks-like-and {
  top: 32.59px;
  left: calc(50% - 178.32px);
}
.design-is-how {
  top: 81.29px;
  left: calc(50% - 176.33px);
}
.p4 {
  position: absolute;
  top: 762.49px;
  left: 204.2px;
  width: 376.56px;
  height: 147.99px;
  overflow: hidden;
  text-align: center;
  font-size: 29.97px;
  color: #222;
}
.divnodeartboardstyles-artboa {
  position: absolute;
  height: 100%;
  width: calc(100% - 1.24px);
  top: 0;
  right: 1.24px;
  bottom: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}
.ashwani {
  position: relative;
  width: 100%;
  height: 2042px;
  text-align: left;
  font-size: 18.73px;
  color: #fff;
  font-family: Merriweather;
}
